body {
  text-align: center;
  padding: 60px 0;
}

hr {
  margin: 45px 0;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 24px;
}

td,
th,
table {
  border: 1px solid blue;
}

td,
th {
  padding: 0.3rem;
}

#weather {
  font-size: 28px;
}

input {
  font-size: 30px;
}

ul {
  list-style: none;
  font-size: 24px;
}
